.order-info {
  width: 25%;
  position: sticky;
  top: 20%;
  height: 100vh;
  padding-right: 50px;
}

form, p {
  padding-left: 10px;
}

.price {
  font-size: 1.5em;
}

.size-chart {
  width: 100%;
  padding-top: 1.5em;
  font-size: 14px;
  color: black;
}

.size-chart a,
.size-chart a:hover,
.size-chart a:visited,
.size-chart a:active {
  color: black;
}

.add-to-cart-btn {
  background: black;
  color: white;
  margin-top: 3em;
  width: 100%;
  height: 45px;
  font-size: 1em;
  cursor: pointer;
}

.build-set-link {
  margin-top: 1.5em;
  font-size: 1.5em;
}

.build-set-link a,
.build-set-link a:hover,
.build-set-link a:visited,
.build-set-link a:active {
  color: black;
}