.other-products-container {
  /* border: 5px solid purple; */
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-bottom: 200px;
}

.product {
  margin-top: 4em;
}

.product-name {
  margin-top: 1.2em;
  font-size: 1.5em;
}

.product-name a, 
.product-name a:hover, 
.product-name a:visited,
.product-name a:active {
  color: #000;
}

.product-desc {
  margin-top: 1em
}

.product-box:first-child img, 
.product-box:nth-child(3) img,
.product-box:nth-child(4) img {
  max-width: 600px;
}

.product-box:nth-child(2) img,
.product-box:last-child img {
  max-height: 600px;
}

.product-box:nth-child(3){
  width: 100%;
  /* border: 5px solid red; */
  display: flex;
  justify-content: center;
}

.product-box:first-child, .product-box:nth-child(4) {
  margin-right: 12em;
}

