.quantity {
 display: flex;
 margin-top: 1.5em;
}

.quantity button {
  width: 45px;
  height: 45px;
  border: 1px solid black;
  color: black;
  border-radius: 0;
  background: white;
}

.quantity input {
  font-size: 20px;
  font-family: "Graphik-Medium";
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  width: 325px;
  color: black;
}

.quantity input:focus {
  outline: none;
}