/* color radio buttons */
.radio {
  display: inline-flex;
  margin-top: 1em;
  width: 420px;
}

.radio__input {
  display: none;
}

.radio_inner {
  width: 3em;
  height: 1.5em;
  position: relative;
}

.radio_inner::after {
  vertical-align: middle;
  opacity: 0;
  content: "";
  width: 15px;
  height: 15px;
  /* position check */
  background-color: transparent;
  display: inline-block;
  position: absolute;
  left: 1em;
  top: 0px;
  /* short arm of checkmark */
  width: 5px;
  /* long arm of checkmark */
  height: 9px;
  transtransform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.each-radio {
  /* width: 9em; */
  width: 160px;
  font-size: 20px;
}

.each-radio.blk {
  background: black;
  color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.each-radio.beige {
  background: beige;
  border: 1px solid black;
  overflow: hidden;
}
 
.radio__label {
  padding: .8em .3em .3em .8em;
  display: inline-flex;
  cursor: pointer;
  cursor: hand;
  z-index: 1;
}

/* sets opacity and color of checkmarks */
#beige_radio:checked + .radio_inner::after {
  opacity: 1;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

#black_radio:checked + .radio_inner::after {
  opacity: 1;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
}

.text-label {
  border: 1px solid black;
  padding: .8em .3em .3em .5em;
  width: 150px;
  font-size: 20px;

}

/* end of radio buttons */