.modal-wrapper {
  width: 100%;
}

.modal-wrapper button {
  border: none;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  position: fixed;
  right: 10px;
  top: 10px;
  outline: none;

}

.modal-content{
  width: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-imgBx {
  margin: 0;
  padding: 0;
  height: 120vh;
}

